<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fangyi.sample">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- IMUIActivity -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name=".app.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <!-- 主框架 -->
        <activity android:name=".app.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Module MVP -->
        <activity android:name=".module_mvp.app_bing.ui.BingSplashActivity" />

        <activity android:name=".module_mvp.app_bing.ui.BingMainActivity" />


        <activity android:name=".module_mvp.app_demo.ui.activity.DemoToolbarActivity" />
        <activity android:name=".module_mvp.app_demo.ui.activity.DemoLazyPagerActivity" />

        <!-- Module UI -->
        <activity
            android:name=".module_ui.imui.IMUIActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".module_ui.imui.IMUIVideoActivity" />
        <!-- Module Utils -->


        <!-- Module Github -->


    </application>

</manifest>